*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
  
#burger{
    color: white;
    font-size: 38px;
    background-color: rgb(42, 41, 41);
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}

#burger:hover{
    background-color: white;
    color: black;
}

header{
    background-color: rgb(11, 196, 33);
}

.menu{
    text-align: center;
}

#img{
    max-width: 100%; 
    height: auto; 
}

body{
    background-color:white;
}

main{
    margin: auto;
    background-color: white;
}

menu{
    margin: 10px;
    display: none;
}

menu a {
    font-size: 1.3em;
    color: orange;
    font-family: Open Sans ,Arial, Helvetica, sans-serif;
    padding: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
}

menu ul{
    text-align: center;
}

a:hover{
    color: rgb(236, 78, 78);
}

.news-container{
    display: flex;
}


.last-news{
    text-align: center;
}

.last-news p{
    margin: 30px;
    text-align: left;
}

.img-view{
    padding: 10px;
    width: 500px;
}

.economy h2{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 2em;
}



.titles{
    margin: 10px;
    text-decoration: none;
    font-size: 2em;
    color: orange;
}

.sub-titles{
    text-decoration: none;
    font-size: 2em;
    color: rgb(5, 5, 5);
}

figcaption{
    font-size: 1.3em;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}


